*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;

}
header li{
    padding: 10px;
    margin: 20px;
}
header li a{
    color: white;
}
@media screen and (max-width:765px) {
    header{
        flex-direction: column;
        background-color: grey;
        text-align: center;
    }
}
